.cardtype{
    display:inline-flex;
    height: 480px;
    width: 360px;
    justify-content: center;
    border: 2px solid red;
    border-radius: 8px;
    margin: 40px 50px 40px 50px;
    align-items: end;
}