*{
    padding:0px;
    margin: 0px;
}

ul, ol{
    list-style: none;
}

.nav li{
    display:block;
    padding: 10px 10px;
    border-radius: 10px;
    
}

.nav li:hover{
    background-color:blue;
}

.nav>li{
    float:left;
}

.nav li ul{
    display:none;
    position: absolute;
    min-width: 20px;
    z-index: 1;
}

.nav li:hover> ul{
    display:block;
}

.nav li ul li{
    position: relative;
}

.nav li ul li ul {
    left: 24.7vh;
    top: 0px;
    border:2px solid rgb(255, 0, 255)  ;
}


.desplegable{
    border:3px solid orange;
    display:flex;
    left: 23vh;
    top: 13.5vh;

    & li ul li ul link{
        left: 200px;

    }
}




.header{
    display:flex;
    margin-left:9%;
    align-items: center;
    height: 20vh;
    width: 82%;
    border: 2px solid blue;
}

.logo{
    display:flex;
    width: 100%;
    border: 2px solid green;

}


.logo_img{
    display:flex;
    border:2px solid blue;
    margin-left: 40%;
    margin-right: 38%
}


.carrito{
    border: 2px solid red;
}

.categorias{
    display:flex;
    border: 2px solid green;
    margin-left: 5vh;
}
nav{
    .menu{
        li{
            &.active{

            }
            &:hover{

            }

        }
    }
}