* {
    margin: 0;
    padding: 0;
    color: inherit;
    box-sizing: border-box;
    list-style:none;
    text-decoration: none;
    
}

img, video {
    max-width: 100%;
    height: auto;
}


.wrapperDetail{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: top;
    height: 60%;
    width: 100%; 
    align-content: top;
}

.main{
    background-color: rgba(219, 219, 219, 0.438);
}

.cardDetail{
    display:flex;
    flex-direction: row;
    align-items: top;
    
    width: 100rem;
    max-width: 600px;
    box-shadow: grey 0px 4px 12px;
    flex-direction: column;

    &_phDetail{
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
        }

}

.textDetail{
        display: flex;
        flex-direction: column;
        align-items: top;
        padding-left: 2%;
        margin-top: 30px;
        justify-content: space-evenly;
        width: auto;
        height: 80%;
        border: 2px solid rgba(35, 36, 35, 0.63);
        border-radius: 5px;
        font-size: 1.6rem;

        h1{
            font-size:1.75em;     
        }
        h3{
            margin-top: 1.25em;
            font-size: 1.2em;
        }
        p{
            font-size: 1em;
        }
}


.productosSimilares{
    display:flex;
    height: 60px;
    width: 240px;
    margin-top: -20px;

    justify-content: space-evenly;

    &_text{
        color:black;
        text-align: center;
        font-size: 0.8rem;
}
}


@media (min-width: 750px) {
    .wrapper{
        display: flex;
        gap:20px;
        flex-flow: row wrap;
        justify-content: center;
        max-width: 1250px;
        margin: 0 auto;
    }
    .ph{
        max-width: unset;
        width: 500px;
            
        &_lg{
            .ph_text{
                height: 200px;
            }
        }

        &_img{
            font-size: 1.5rem;
        }

    }
}


@media (min-width: 1780px) {
    .wrapper{
        max-width: 2000px;
        gap:40px;
    }

    .ph{
        &_sqr{
            order:0;
        }
    }
}